{% extends 'index.html' %} {% block nav %} {% url 'contacto' as contacto_url %}
{% url 'reservas' as reservas_url %} {% url 'nosotros' as nosotros_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'index' %}">Budenje</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li
        class="nav-item {% if request.path == nosotros_url %} active {%endif%}"
      >
        <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
      </li>
      <li
        class="nav-item {% if request.path == reservas_url %} active {%endif%}"
      >
        <a class="nav-link" href="{% url 'reservas' %}">
          Reserva
        </a>
      </li>
      <li
        class="nav-item {% if request.path == contacto_url %} active {%endif%}"
      >
        <a class="nav-link" href="{% url 'contacto' %}">
          Contacto
        </a>
      </li>
    </ul>
  </div>
</nav>
{% endblock nav%} {% block content %}
<div class="d-flex flex-column justify-content-center bg-home">
  <div class="container">
    <div class="row">
      <div
        class="offset-1 col-10 offset-sm-2 col-sm-8 offset-md-6 col-md-6 offset-lg-7 col-lg-5 text-center"
      >
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-5 display-4 display-lg-3">
              {{ inicio_header.contenido.titulo }}
            </h1>
            <p class="lead">{{ inicio_header.contenido.texto }}</p>
            <hr class="my-2" />
            <p class="lead">
              <a
                class="btn btn-primary btn-lg"
                href="{% url 'reservas' %}"
                role="button"
              >
                Ver disponibilidad
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-column justify-content-center bg-secundario">
  <div class="container">
    <div class="row mt-5">
      <div
        class="offset-1 col-10 offset-sm-0 col-sm-12 col-md-7 text-center p-0"
      >
        <img src="{{ inicio_secundario.imagen.imagen.url }}" />
      </div>
      <div
        class="offset-1 col-10 offset-sm-0 col-sm-12 col-md-5 text-center p-0"
      >
        <div class="card bg-card">
          <div class="card-body d-flex flex-column justify-content-center">
            <h4 class="card-title">{{ inicio_secundario.contenido.titulo }}</h4>
            <p class="card-text">
              {{ inicio_secundario.contenido.texto }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-column justify-content-center">
  <div class="container-fluid">
    <div class="row bg-secundario">
      <div class="col-12 text-center p-4">
        <h2>
          Nuestras cabañas:
        </h2>
      </div>
    </div>
    {% for habitacion in habitaciones %}
    <div class="row">
      <div
        class="col-12 text-center habitacion-toolbar"
        style="background-color:{{ habitacion.habitacion.color }};"
      >
        <div
          title="Haga click para desplegar/esconder la información de la cabaña"
          class="p-3 barra"
          data-toggle="collapse"
          href="#collapse{{ habitacion.habitacion.id }}"
          role="button"
          aria-expanded="false"
          aria-controls="collapse{{ habitacion.habitacion.id }}"
          style="background-color:{{ habitacion.habitacion.color }};"
        >
          <h3 class="m-0">{{ habitacion.habitacion.nombre }}</h3>
        </div>
        <div class="collapse" id="collapse{{ habitacion.habitacion.id }}">
          <div class="card card-body">
            <h4>{{ habitacion.habitacion.descripcion }}</h4>
            <div class="container">
              <div
                id="carouselExampleIndicators{{ habitacion.habitacion.id }}"
                class="carousel slide"
                data-ride="carousel"
              >
                <ol class="carousel-indicators">
                  {% for img in habitacion.imagenes %}
                  <li
                    data-target="#carouselExampleIndicators{{ habitacion.habitacion.id }}"
                    data-slide-to="{{ forloop.counter0 }}"
                    {%
                    if
                    forloop.first
                    %}
                    class="active"
                    {%
                    endif
                    %}
                  ></li>
                  {% endfor %}
                </ol>
                <div class="carousel-inner">
                  {% for img in habitacion.imagenes %}
                  <div
                    class="carousel-item {% if forloop.first %} active {% endif %}"
                  >
                    <img
                      class="d-block w-100 h-50"
                      src="{{ img.imagen.url }}"
                      alt="First slide"
                    />
                  </div>
                  {% endfor %}
                </div>
                <a
                  class="carousel-control-prev"
                  href="#carouselExampleIndicators{{ habitacion.habitacion.id }}"
                  role="button"
                  data-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Anterior</span>
                </a>
                <a
                  class="carousel-control-next"
                  href="#carouselExampleIndicators{{ habitacion.habitacion.id }}"
                  role="button"
                  data-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Siguiente</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
