{% load static %}
<link rel="stylesheet" href="{% static 'habitacion/css/my_theme/my_theme.css' %}"/>
<link rel="stylesheet" href="{% static 'habitacion/css/main.css' %}"/>
<div class="container" style="background:rgba(111,111,111,0.7);padding:10px;">
    <div class="row">
        <div class="col-12">
        <div class="card">
            <div class="card-body">
            <h3 class="card-title">Hola</h3>
            <p class="card-text">Su Reserva fue registrada con el nombre <strong>{{ nombre_reserva }}</strong> y será respondida al correo electrónico proporcionado.</p>
            </div>
        </div>
        </div>
        <div class="offset-1 col-10">
            <div class="card bg-light">
                <div class="card-body">
                    <h3 class="card-title">Datos reserva:</h3>
                    <p class="card-text">E-mail: {{ email }}</p>
                    <p class="card-text">Entrada: {{ checkin }}</p>
                    <p class="card-text">Salida: {{ checkout }}</p>
                    <p class="card-text">{% if comentarios != '' %} Comentarios: {{ comentarios }} {% endif %}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                Saludamos atte desde Budenje.
            </p>
            <img class="card-img-top" src="http://giova.pythonanywhere.com/media/contenido/img/logo.jpg" alt="logo" width="50px" height="50px">
        </div>
    </div>
</div>
